/****************************** Footer ******************************/
.siteFooter-links a {
  font-size: 0.9em;
  font-weight: 500;
}

.siteFooter {
  margin-bottom: 0;
  box-shadow: 2px 2px 2px lightgray, -2px 2px 2px lightgray;
  @include breakpoint($SM) {
    max-width: $SM - 64px;
    margin: auto;
    margin-bottom: 40px;
  }
  @include breakpoint($MD) {
    max-width: $MD - 64px;
  }
  @include breakpoint($LG) {
    max-width: $LG - 64px;
  }
}

.footbar {
  border: none;
  height: 0;
  padding: 0;
}
.footbar .footbar-container {
  height: 0;
  padding: 0;
}
.footbar .footbar-container .widget {
  margin: 0;
}

.site-footer-brand {
  display: block;
  @include breakpoint($SM) {
    display: none;
  }
}
.site-footer-brand + .siteFooter-content {
  text-align: center;
  margin-left: 0;
  @include breakpoint($SM) {
    margin-left: 0;
    text-align: inherit;
  }
}
.site-footer-brand.has-links-social .siteFooter-social {
  @include breakpoint($SM) {
    width: auto;
  }
}
