/****************************** Primary Nav ******************************/
.primaryNav {
  @include box-shadow(lightgray 0px -3px 2px -2px);
  margin: auto;
  text-transform: uppercase;
  text-align: center;

  .navToggle {
    &.is-open span {
      background-color: transparent;
    }
    span {
      background: black;
      &:before, &:after {
        background: black;
      }
    }
  }

  .searchToggle {
    color: black;
  }

  .primaryNav-menu a:hover, .l-sideNav .utilityNav a:hover, .primaryNav-menu li a.active, .primaryNav-menu li a.active_section, .primaryNav-menu li li a:hover, .primaryNav-menu li li a:focus {
    color: $primary;
  }

  .primaryNav-menu li {
    a {
      font-family: $benton-sans;
    }
    ul {
      display: none;
    }
  }
}

/****************************** Searchbar ******************************/
#quicksearch {
  @include box-shadow(2px 2px 2px lightgray, -2px 2px 2px lightgray);
  background: white;
  margin: auto;
  .button {
    background: #C2E59C;
    @include linear-gradient(to right, $primary, #FFEDBC);
    background-size: 120%;
    @include transition(background .2s ease-in-out);
    &:hover {
      background-position: 80%;
    }
  }
  .button, #q {
    @include border-radius(0);
  }
  #q {
    @include breakpoint($SM) {
      width: 84%;
    }
  }
}
