$XS: 500px;
$SM: 768px;
$MD: 992px;
$LG: 1130px;
$LGR: 1200px;
$XL: 1366px;

$benton-sans: "Benton-Sans",Helvetica,sans-serif;
$primary: #EF7B18;
$right-arrow: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAACC0lEQVRYR8WXa1UDMRCF5yoAFAAKaBVQHIACQAFFAa0CioOiABwACmgdtA5aBcO5kCzZdpNsHhzyZ8+eJDNf5pHMQP55IEW/qg5E5FpE+D00X4pYiMjGfJ8B8L/XiAKoKhXdicjYKO0jmDAzANPY4iCAql6KyKOInMQEeeZXInIP4NW33wugqjNz8kzdrW0TnzU6AVR1bnxdQ7mVMQdwuytwD6DHybciQtfQQmeJhFMAE3dPC8D4/CUglMpHjHITnO8ZEFduTDQARuBnIOAa5RYwE2IF4NTKcAFomofA6S8A8MStkQnRuMIFYO4eBAB4uRCC60ohNgCOKOQbQFVHIvLWI6BqQgwZSxYgJedrQTwBGFsA+va8hwXskhoQHwBGFoACU3O6FGIBYGgBNOH07tIiCHCYIMwFWJqLyZcZDGw+3Z3DBchxQZFyEVkCGOQGYalyWqQVhClpWEM5AVppSD/xHYiNWsqp5/ciMoEYu4prKt8CYKn3cxUbgJLHKBjtHWbtfIxIxGw49viBFuJj1FS85iVMVb4G0NSYqQVJA5GpnGfrLkgSXEGIK1Mtey8ZjxXDJZkD8RdFKRuWm12wUFkeC8pYyrrzeye3k30aE15SvsCMQazZUWU1Jq5kVaU12JqFSjZ3CwtYtmatEryLNtob7oAw6OhH25zaGoKXlG1O2YDUa05jNi6d/wIa+AwwgYcRFQAAAABJRU5ErkJggg==')
