.widget.events {
	background-color: lighten(#2baadf, 33%);
	margin: 10px;
	max-width: 337.484px;
}
.widget.events .header {
	background-color: #2baadf;
	overflow: auto;
}
.widget.events .header h2 {
	color: white;
	margin-bottom: 0.25em;
	font-size: 18px;
	line-height: 1.6;
	font-family: $benton-sans;
	font-weight: 500;
	display: inline;
}
.widget.events .header .icon {
	font-style: normal;
	font-family: "BU-Default-Icons";
	text-align: center;
	color: #2baadf;
	background-color: white;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	display: inline-block;
	margin: 10px;
	line-height: 40px;
	font-size: 21px;
	vertical-align: sub;
}
.widget.events .event {
	border-bottom: 1px dotted #2baadf;
}
.widget.events .event a {
	padding: 0.5em 1em;
	border-bottom: none;
	color: #444;
	display: block;
	position: relative;
	font-size: 0.8em;
	text-decoration: none;
}
.widget.events .event a:visited,
.widget.events .event a:hover,
.widget.events .event a:focus,
.widget.events .event a:active {
	color: #444;
}
.widget.events .event a:hover {
	background-color: transparentize(black, 0.95);
}
.widget.events .event a:after {
	content: "\25BB";
	font-family: "BU-Default-Icons";
	position: absolute;
	right: 1em;
	top: 0;
	bottom: 0;
	vertical-align: middle;
	margin: auto;
	display: block;
	height: 26px;
	background: #2baadf;
	color: white;
	width: 26px;
	border-radius: 50%;
	text-align: center;
	line-height: 24px;
}
.widget.events .event a span {
	font-size: 1em;
}
#text-9 {
  margin-bottom: 0;
}

/****************************** CTA Widgets ******************************/
.sidebar .widget {
	clear: both;
}
.sidebar .widget a {
	color: white;
}
.sidebar .widget a:hover,
.sidebar .widget a:visited {
	color: white;
}

.cta {
	margin: 10px;
	overflow: hidden;
}
.cta .contact {
	background-color: mix($primary, white, 90%);
}
.cta .contact:hover {
	background-color: mix($primary, white, 80%);
}
.cta .contact a:before {
	@extend %icon-envelope;
}
.cta .faw {
	background-color: mix(#188cef, white, 50%);
}
.cta .faw:hover {
	background-color: mix(#188cef, white, 40%);
}
.cta .faw a:before {
	@extend %icon-redirect;
}
.cta div div {
	background: mix(mediumseagreen, white, 75%);
	transition: background-color .2s ease-in-out;
}
.cta div div a {
	background: transparent $right-arrow 96% center no-repeat;
	color: white;
	margin: 10px 0;
	padding: 1em 3em 1em 0.75em;
}
.cta a {
	color: white;
	display: table;
	margin: 10px 0;
	padding: 10px 50px 10px 10px;
	text-decoration: none;
	width: 100%;
	border-radius: 0.125rem;
}
.cta a:before {
	font-family: "BU-Default-Icons";
	display: table-cell;
	vertical-align: middle;
	font-size: 1.5em;
	width: 40px;
	padding: 0 10px 0 5px;
	color: white;
}
.cta a p {
	margin-bottom: 0;
	line-height: 1.5em;
	font-family: $benton-sans;
	font-size: 0.9em;
	color: white;
}
.cta a strong {
	color: white;
}

/****************************** News Widget ******************************/
.widget-bu-posts {
	overflow: hidden;
  padding: 10px;
  width: 100%;
}
.widget-bu-posts > a {
	color: black!important;
	display: inline-block;
	text-decoration: none;
}
.widget-bu-posts .widgetTitle {
	border: none;
	color: $primary;
	font-family: $benton-sans;
	font-size: 1.5rem;
	margin-bottom: 0;
	padding: 10px 20px 10px 20px;
	text-align: center;
}
.widget-bu-posts .post {
	padding: 10px;
	border-radius: 0.125rem;
	transition: 0.2s box-shadow ease-in-out;
}
.widget-bu-posts .post .thumb {
	max-width: none;
	width: 150px;
	margin: 0 10px 0 0;
}
.widget-bu-posts .post .headline {
	margin: auto;
	font-family: $benton-sans;
	font-size: 0.9em;
}
.widget-bu-posts .post .headline a {
	font-family: $benton-sans;
	text-decoration: none;
	color: black;
}
.widget-bu-posts .post .excerpt {
	line-height: 1.25em;
	font-size: 14px;
}
.widget-bu-posts hr {
	width: 66.7%;
	border-top: none;
	border-color: $primary;
}

/****************************** Instagram Widget ******************************/
.instagram-widget {
	max-width: 350px;
  margin: 1em auto;
  padding: 20px;
}
.instagram-widget .widgetTitle {
	border: none;
	font-family: $benton-sans;
	font-size: 1.4em;
	margin-bottom: 5px;
	color: #AAA;
}
.instagram-widget .widgetTitle span {
	color: $primary;
	font-size: 0.9em;
}
.instagram-widget .instagram-frame {
	background-color: white;
	box-shadow: 3px 3px 3px #777;
}
.instagram-widget .instagram-frame iframe {
	min-height: 327px;
}

/****************************** BU Sharing Widget ******************************/
.bu-sharing {
	margin-top: 40px;
}
.bu-sharing .bus-title {
	font-weight: 500;
}

/****************************** Cohorts List ******************************/
.cohorts-list .bu-list-child-pages div {
	@extend %col-sm-4;
  position: relative;
  text-align: center;
  line-height: 0;
}
.cohorts-list .bu-list-child-pages div h3 {
	line-height: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	width: 100px;
	margin: 0 auto;
}
.cohorts-list .bu-list-child-pages div h3 a {
	padding: 1.75em 0.5em;
	line-height: normal;
	display: block;
	color: white;
	font-family: $benton-sans;
	font-weight: 500;
	text-decoration: none;
}

/****************************** Alumni List ******************************/
.bubble {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  padding-left: 0.25em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  color: white;
  font-weight: bold;
}

/****************************** Faculty List ******************************/
.faculty-wrapper ul {
	list-style: none;
	padding-left: 0;
}
.faculty-wrapper h3 {
	color: #EE7432;
	border-bottom: 1px solid gainsboro;
}
.faculty-wrapper li:nth-of-type(2) img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  float: right;
  margin: 0 0 10px 10px;
}

/****************************** Course Feed ******************************/
h4.bu_collapsible {
	margin-bottom: 1em;
}
.course-feed br {
	display: none;
}
.course-feed .bu_collapsible_container {
	outline: 0!important;
}
.course-feed .bu_collapsible_container > * {
	outline: 0!important;
}
.course-feed .bu_collapsible_container .bu_collapsible {
	margin: 1em 0 0 0;
}
.course-feed .bu_collapsible_container .bu_collapsible_section {
	background-color: #FEFEFE;
	border-left: 4px solid lightskyblue;
	font-style: italic;
	font-family: $benton-sans;
	font-weight: 300;
	margin-bottom: 0;
	padding: 5px 10px 5px 20px;
}

/****************************** Student Association List ******************************/
.association {
	list-style-type: none;
  padding-left: 0;
}
.association li {
	border-bottom: 1px solid lightgray;
	padding: 0.5em;
}
.association li:first-of-type {
	border-top: 1px solid lightgray;
}

/****************************** Alumni List ******************************/
.alumni-list-wrapper .include-image {
	display: table;
}
.alumni-list-wrapper .include-image .left,
.alumni-list-wrapper .include-image .right {
	display: table-cell;
}
.alumni-list-wrapper .include-image .left {
	vertical-align: middle;
	padding-right: 1em;
}
.alumni-list-wrapper .include-image .right {
	vertical-align: top;
}
.alumni-list-wrapper > ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
.alumni-list-wrapper > ul li {
	line-height: 1.6;
}
.alumni-list-wrapper > ul li:first-of-type {
	font-size: 16px;
	font-weight: bold;
}
.alumni-list-wrapper > ul li:nth-of-type(2) {
	color: #AAA;
	font-family: $benton-sans;
	font-style: italic;
}
.alumni-list-wrapper > ul li:nth-of-type(3) {
	font-size: 14px;
	font-family: $benton-sans;
}

/****************************** FAQs List ******************************/
.faqs .bu_collapsible_container {
	border-bottom: 1px dotted lightgray;
}
.faqs .bu_collapsible_container + p {
	display: none;
}
.faqs .bu_collapsible_container + p + p {
	display: none;
}
.faqs .bu_collapsible {
	font-family: $benton-sans;
	font-weight: 500;
	margin-bottom: 0;
	outline: 0;
	padding: 10px 30px 10px 10px;
	transition: 0.25s background-color ease-in-out;
}
.faqs .bu_collapsible:hover {
	background-color: #F7F7F7;
}
.faqs .bu_collapsible:after {
	right: 5px;
}
.faqs .bu_collapsible_section {
	padding: 5px 10px 5px 20px;
	background-color: #FEFEFE;
	border-left: 4px solid lightskyblue;
	font-style: italic;
}
.faqs .bu_collapsible_section p {
	font-family: $benton-sans;
	font-weight: 300;
	margin-bottom: 0;
	padding: 10px 0;
}
